---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=non%20je%20n%27aime%20pas%20les%20pommes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <WIT_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "ed83fafe-62c5-43f7-9b29-fce46e8aef43",
          "_text" : "non je n'aime pas les pommes",
          "outcomes" : [ {
            "_text" : "non je n'aime pas les pommes",
            "confidence" : 0.575,
            "intent" : "Location",
            "entities" : { }
          } ]
        }
  recorded_at: Fri, 22 Jan 2016 18:03:48 GMT
recorded_with: VCR 3.0.1
