---
http_interactions:
- request:
    method: get
    uri: https://api.wit.ai/message?q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <WIT_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "msg_id" : "b48beaf9-c4c2-4bcf-a467-d6947815d2a3",
          "_text" : "test",
          "outcomes" : [ {
            "_text" : "test",
            "confidence" : 0.575,
            "intent" : "Location",
            "entities" : { }
          } ]
        }
  recorded_at: Fri, 22 Jan 2016 18:43:17 GMT
recorded_with: VCR 3.0.1
